<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FRC Scout</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FrcScout.styles.css" asp-append-version="true" />
</head>
<body>
	<main>
		@RenderBody()
	<main>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
