@model FrcScout.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scouter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scouter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Match)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHighCube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoHighCube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoHighCone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoHighCone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoMidCube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoMidCube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoMidCone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoMidCone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoLowCube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoLowCube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoLowCone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoLowCone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeleHighCube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeleHighCube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeleHighCone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeleHighCone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeleMidCube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeleMidCube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeleMidCone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeleMidCone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeleLowCube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeleLowCube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeleLowCone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeleLowCone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefensiveManuevers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefensiveManuevers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fouls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fouls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechFouls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechFouls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeSupportedAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeSupportedAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeSupportedTele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeSupportedTele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeLevelAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeLevelAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeLevelTele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeLevelTele)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
