@model FrcScout.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TeamNumber" class="control-label"></label>
                <input asp-for="TeamNumber" class="form-control" />
                <span asp-validation-for="TeamNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scouter" class="control-label"></label>
                <input asp-for="Scouter" class="form-control" />
                <span asp-validation-for="Scouter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event" class="control-label"></label>
                <input asp-for="Event" class="form-control" />
                <span asp-validation-for="Event" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match" class="control-label"></label>
                <input asp-for="Match" class="form-control" />
                <span asp-validation-for="Match" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoHighCube" class="control-label"></label>
                <input asp-for="AutoHighCube" class="form-control" />
                <span asp-validation-for="AutoHighCube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoHighCone" class="control-label"></label>
                <input asp-for="AutoHighCone" class="form-control" />
                <span asp-validation-for="AutoHighCone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoMidCube" class="control-label"></label>
                <input asp-for="AutoMidCube" class="form-control" />
                <span asp-validation-for="AutoMidCube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoMidCone" class="control-label"></label>
                <input asp-for="AutoMidCone" class="form-control" />
                <span asp-validation-for="AutoMidCone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoLowCube" class="control-label"></label>
                <input asp-for="AutoLowCube" class="form-control" />
                <span asp-validation-for="AutoLowCube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoLowCone" class="control-label"></label>
                <input asp-for="AutoLowCone" class="form-control" />
                <span asp-validation-for="AutoLowCone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeleHighCube" class="control-label"></label>
                <input asp-for="TeleHighCube" class="form-control" />
                <span asp-validation-for="TeleHighCube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeleHighCone" class="control-label"></label>
                <input asp-for="TeleHighCone" class="form-control" />
                <span asp-validation-for="TeleHighCone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeleMidCube" class="control-label"></label>
                <input asp-for="TeleMidCube" class="form-control" />
                <span asp-validation-for="TeleMidCube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeleMidCone" class="control-label"></label>
                <input asp-for="TeleMidCone" class="form-control" />
                <span asp-validation-for="TeleMidCone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeleLowCube" class="control-label"></label>
                <input asp-for="TeleLowCube" class="form-control" />
                <span asp-validation-for="TeleLowCube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeleLowCone" class="control-label"></label>
                <input asp-for="TeleLowCone" class="form-control" />
                <span asp-validation-for="TeleLowCone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefensiveManuevers" class="control-label"></label>
                <input asp-for="DefensiveManuevers" class="form-control" />
                <span asp-validation-for="DefensiveManuevers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fouls" class="control-label"></label>
                <input asp-for="Fouls" class="form-control" />
                <span asp-validation-for="Fouls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechFouls" class="control-label"></label>
                <input asp-for="TechFouls" class="form-control" />
                <span asp-validation-for="TechFouls" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChargeSupportedAuto" /> @Html.DisplayNameFor(model => model.ChargeSupportedAuto)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChargeSupportedTele" /> @Html.DisplayNameFor(model => model.ChargeSupportedTele)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChargeLevelAuto" /> @Html.DisplayNameFor(model => model.ChargeLevelAuto)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChargeLevelTele" /> @Html.DisplayNameFor(model => model.ChargeLevelTele)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
