@model IEnumerable<FrcScout.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scouter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoHighCube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoHighCone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoMidCube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoMidCone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoLowCube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoLowCone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeleHighCube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeleHighCone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeleMidCube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeleMidCone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeleLowCube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeleLowCone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefensiveManuevers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fouls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechFouls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeSupportedAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeSupportedTele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeLevelAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeLevelTele)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scouter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoHighCube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoHighCone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoMidCube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoMidCone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoLowCube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoLowCone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeleHighCube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeleHighCone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeleMidCube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeleMidCone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeleLowCube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeleLowCone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefensiveManuevers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fouls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechFouls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeSupportedAuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeSupportedTele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeLevelAuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeLevelTele)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
