@{
	ViewData["Title"] = "Match Scouting";
}
@model Team
@using FrcScout

<h2>Pit Scouting</h2>
<form asp-action="Match">
	<table>
		<!-- Team Number -->
		<tr class="form-group">
			<td><label asp-for="TeamNumber" class="control-label">Team Number:</label></td>
			<td><input asp-for="TeamNumber" autocomplete="off"/></td>
		</tr>

		<!-- Scouter Name -->
		<tr>
			<td><label asp-for="Scouter">Scouter Name:</label></td>
			<td><input asp-for="Scouter" autocomplete="on"/></td>
		</tr>

		<!-- Event Name -->
		<tr>
			<td><label asp-for="Event">Event Name:</label></td>
			<td>
				<select asp-for="Event" autocomplete="off">
					<option value="RKT">Rocket City Regional</option>
					<option value="MAG">Magnolia Regional</option>
					<option value="WHU">Worlds Huston</option>
				</select>
			</td>
		</tr>

		<!-- Match Number -->
		<tr>
			<td><label asp-for="Match">Match Number:</label></td>
			<td><input asp-for="Match" autocomplete="off"/></td>
		</tr>

		<!-- Autotonum Score -->
		<tr>
			<td><label for="_autoscore">Autonomus Scoring</label></td>
			<td>
				<div id="_autoscore"><table>
					<!-- Auto High Placement -->
					<tr>
						<td><label for="_autohigh">High</label></td>
						<td>
							<div id=_autohigh>
								<label asp-for="AutoHighCube">Cubes:</label>
								<input asp-for="AutoHighCube"
									value="0" autocomplete="off"/>
								<label asp-for="AutoHighCone">Cones:</label>
								<input asp-for="AutoHighCone"
									value="0" autocomplete="off"/>
							</div>
						</td>
					</tr>

					<!-- Auto Middle Placement -->
					<tr>
						<td><label for="_automid">Middle</label></td>
						<td>
							<div id=_automid>
								<label asp-for="AutoMidCube">Cubes:</label>
								<input asp-for="AutoMidCube"
									value="0" autocomplete="off"/>
								<label asp-for="AutoMidCone">Cones:</label>
								<input asp-for="AutoMidCone"
									value="0" autocomplete="off"/>
							</div>
						</td>
					</tr>

					<!-- Auto Low Placement -->
					<tr>
						<td><label for="_autolow">Low</label></td>
						<td>
							<div id=_autolow>
								<label for="autolow-cube">Cubes:</label>
								<input class="-inum" type="number" id="autolow-cubes"
									value="0" autocomplete="off"/>
								<label for="autolow-cones">Cones:</label>
								<input class="-inum" type="number" id="autolow-cones"
									value="0" autocomplete="off"/>
							</div>
						</td>
					</tr>
				</table></div>
			</td>
		</tr>

		<!-- Teleop Score -->
		<tr>
			<td><label for="_telescore">Teleop Scoring</label></td>
			<td>
				<div id="_telescore"><table>
					<!-- Auto High Placement -->
					<tr>
						<td><label for="_telehigh">High</label></td>
						<td>
							<div id=_telehigh>
								<label asp-for="TeleHighCube">Cubes:</label>
								<input asp-for="TeleHighCube"
									value="0" autocomplete="off"/>
								<label asp-for="TeleHighCone">Cones:</label>
								<input asp-for="TeleHighCone"
									value="0" autocomplete="off"/>
							</div>
						</td>
					</tr>

					<!-- Auto Middle Placement -->
					<tr>
						<td><label for="_telemid">Middle</label></td>
						<td>
							<div id=_telemid>
								<label asp-for="TeleMidCube">Cubes:</label>
								<input asp-for="TeleMidCube"
									value="0" autocomplete="off"/>
								<label asp-for="TeleMidCone">Cones:</label>
								<input asp-for="TeleMidCone"
									value="0" autocomplete="off"/>
							</div>
						</td>
					</tr>

					<!-- Auto Low Placement -->
					<tr>
						<td><label for="_telelow">Low</label></td>
						<td>
							<div id=_telelow>
								<label asp-for="TeleLowCube">Cubes:</label>
								<input asp-for="TeleLowCube"
									value="0" autocomplete="off"/>
								<label asp-foe="TeleLowCone">Cones:</label>
								<input asp-for="TeleLowCone"
									value="0" autocomplete="off"/>
							</div>
						</td>
					</tr>
				</table></div>
			</td>
		</tr>

		<!-- Defensive Maneuvers -->
		<tr>
			<td><label asp-for="DefensiveManuevers">Number of defensive manuevers:</label></td>
			<td><input asp-for="DefensiveManuevers" autocomplete="off" value="0"/></td>
		</tr>

		<!-- Fouls -->
		<tr>
			<td><label asp-for="Fouls">Number of Fouls:</label></td>
			<td><input asp-for="Fouls" autocomplete="off" value="0"/></td>
		</tr>

		<!-- Tech Fouls -->
		<tr>
			<td><label asp-for="TechFouls">Number of Technical Fouls:</label></td>
			<td><input asp-for="TechFouls" autocomplete="off" value="0"/></td>
		</tr>

		<!-- Charge Station Engaged -->
		<tr>
			<td><label for="_engaged">Fully supported by charge station:</label></td>
			<td>
				<div id="_engaged">
					<label asp-for="ChargeSupportedAuto">Auto</label>
					<input asp-for="ChargeSupportedAuto" autocomplete="off"/>
					<label asp-for="ChargeSupportedTele">Teleop</label>
					<input asp-for="ChargeSupportedTele" autocomplete="off"/>
				</div>
			</td>
		</tr>

		<!-- Charge Station Level -->
		<tr>
			<td><label for="_level">Level charge station:</label></td>
			<td>
				<div id="_level">
					<label asp-for="ChargeLevelAuto">Auto</label>
					<input asp-for="ChargeLevelAuto" autocomplete="off"/>
					<label asp-for="ChargeLevelAuto">Teleop</label>
					<input asp-for="ChargeLevelAuto" autocomplete="off"/>
				</div>
			</td>
		</tr>			
	</table>
	<input type="submit" value="Submit"/>
</form>
